*~
*.d
*.o
*.wav
Exercise8-ffsample/00readme.txt
Exercise8-ffsample/monitor.log
Exercise8-ffsample/avr/avr_cfmm2.png
Exercise8-ffsample/avr/avrsp.ini
Exercise8-ffsample/avr/cfc_avr.c
Exercise8-ffsample/avr/cfc_avr.h
Exercise8-ffsample/avr/diskio.c
Exercise8-ffsample/avr/diskio.h
Exercise8-ffsample/avr/ff.c
Exercise8-ffsample/avr/ff.h
Exercise8-ffsample/avr/ffconf.h
Exercise8-ffsample/avr/ffunicode_avr.c
Exercise8-ffsample/avr/main.c
Exercise8-ffsample/avr/Makefile_cfc
Exercise8-ffsample/avr/Makefile_cfmm
Exercise8-ffsample/avr/Makefile_mmc
Exercise8-ffsample/avr/Makefile_mmcbb
Exercise8-ffsample/avr/mmc_avr_bb.c
Exercise8-ffsample/avr/mmc_avr_spi.c
Exercise8-ffsample/avr/mmc_avr_usart.c
Exercise8-ffsample/avr/mmc_avr.h
Exercise8-ffsample/avr/rtc_ds1338.c
Exercise8-ffsample/avr/rtc.h
Exercise8-ffsample/avr/sound.c
Exercise8-ffsample/avr/sound.h
Exercise8-ffsample/avr/tt.ini
Exercise8-ffsample/avr/uart.c
Exercise8-ffsample/avr/uart.h
Exercise8-ffsample/avr/xitoa.h
Exercise8-ffsample/avr/xitoa.S
Exercise8-ffsample/fm3/diskio.h
Exercise8-ffsample/fm3/ff.c
Exercise8-ffsample/fm3/ff.h
Exercise8-ffsample/fm3/ffconf.h
Exercise8-ffsample/fm3/ffsystem.c
Exercise8-ffsample/fm3/ffunicode.c
Exercise8-ffsample/fm3/fm3_mmc.png
Exercise8-ffsample/fm3/FM3_type2.h
Exercise8-ffsample/fm3/iic.c
Exercise8-ffsample/fm3/iic.h
Exercise8-ffsample/fm3/main.c
Exercise8-ffsample/fm3/Makefile
Exercise8-ffsample/fm3/MB9BF618.ld
Exercise8-ffsample/fm3/mmc_mfs.c
Exercise8-ffsample/fm3/sound.c
Exercise8-ffsample/fm3/sound.h
Exercise8-ffsample/fm3/startup_fm3_2.c
Exercise8-ffsample/fm3/tt.ini
Exercise8-ffsample/fm3/uart_mfs.c
Exercise8-ffsample/fm3/uart_mfs.h
Exercise8-ffsample/fm3/xprintf.c
Exercise8-ffsample/fm3/xprintf.h
Exercise8-ffsample/generic/diskio.h
Exercise8-ffsample/generic/ff.c
Exercise8-ffsample/generic/ff.h
Exercise8-ffsample/generic/ffconf.h
Exercise8-ffsample/generic/foolproof.jpg
Exercise8-ffsample/generic/main.c
Exercise8-ffsample/generic/Makefile
Exercise8-ffsample/generic/sdmm.c
Exercise8-ffsample/h8/h8_mmc.Hbp
Exercise8-ffsample/h8/h8_mmc.hws
Exercise8-ffsample/h8/h8_mmc.png
Exercise8-ffsample/h8/h8_mmc.tws
Exercise8-ffsample/h8/h8_mmc/dbsct.c
Exercise8-ffsample/h8/h8_mmc/defaultsession.hsf
Exercise8-ffsample/h8/h8_mmc/diskio.h
Exercise8-ffsample/h8/h8_mmc/ff.c
Exercise8-ffsample/h8/h8_mmc/ff.h
Exercise8-ffsample/h8/h8_mmc/ffconf.h
Exercise8-ffsample/h8/h8_mmc/ffunicode.c
Exercise8-ffsample/h8/h8_mmc/h8_mmc.hwp
Exercise8-ffsample/h8/h8_mmc/h8_mmc.nav
Exercise8-ffsample/h8/h8_mmc/h8_mmc.pgs
Exercise8-ffsample/h8/h8_mmc/h8_mmc.tps
Exercise8-ffsample/h8/h8_mmc/intprg.c
Exercise8-ffsample/h8/h8_mmc/iodefine.h
Exercise8-ffsample/h8/h8_mmc/main.c
Exercise8-ffsample/h8/h8_mmc/mmc_bb.c
Exercise8-ffsample/h8/h8_mmc/resetprg.c
Exercise8-ffsample/h8/h8_mmc/sci.c
Exercise8-ffsample/h8/h8_mmc/sci.h
Exercise8-ffsample/h8/h8_mmc/stacksct.h
Exercise8-ffsample/h8/h8_mmc/xprintf.c
Exercise8-ffsample/h8/h8_mmc/xprintf.h
Exercise8-ffsample/lpc176x/crp.c
Exercise8-ffsample/lpc176x/diskio.h
Exercise8-ffsample/lpc176x/ff.c
Exercise8-ffsample/lpc176x/ff.h
Exercise8-ffsample/lpc176x/ffconf.h
Exercise8-ffsample/lpc176x/ffsystem.c
Exercise8-ffsample/lpc176x/ffunicode.c
Exercise8-ffsample/lpc176x/lpc_mmc.png
Exercise8-ffsample/lpc176x/LPC176x.h
Exercise8-ffsample/lpc176x/LPC178x.h
Exercise8-ffsample/lpc176x/LPC1768.ld
Exercise8-ffsample/lpc176x/lpcsp.ini
Exercise8-ffsample/lpc176x/main.c
Exercise8-ffsample/lpc176x/Makefile
Exercise8-ffsample/lpc176x/mmc_176x_ssp.c
Exercise8-ffsample/lpc176x/rtc176x.c
Exercise8-ffsample/lpc176x/rtc176x.h
Exercise8-ffsample/lpc176x/sound.c
Exercise8-ffsample/lpc176x/sound.h
Exercise8-ffsample/lpc176x/startup176x.c
Exercise8-ffsample/lpc176x/startup178x.c
Exercise8-ffsample/lpc176x/tt.ini
Exercise8-ffsample/lpc176x/uart176x.c
Exercise8-ffsample/lpc176x/uart176x.h
Exercise8-ffsample/lpc176x/uart178x.c
Exercise8-ffsample/lpc176x/uart178x.h
Exercise8-ffsample/lpc176x/xprintf.c
Exercise8-ffsample/lpc176x/xprintf.h
Exercise8-ffsample/lpc176x/disk_image/00readme.txt
Exercise8-ffsample/lpc176x/disk_image/disk_image.png
Exercise8-ffsample/lpc176x/disk_image/rawread.c
Exercise8-ffsample/lpc23xx/asmfunc.S
Exercise8-ffsample/lpc23xx/crp.c
Exercise8-ffsample/lpc23xx/diskio.c
Exercise8-ffsample/lpc23xx/diskio.h
Exercise8-ffsample/lpc23xx/disp.c
Exercise8-ffsample/lpc23xx/disp.h
Exercise8-ffsample/lpc23xx/ff.c
Exercise8-ffsample/lpc23xx/ff.h
Exercise8-ffsample/lpc23xx/ffconf.h
Exercise8-ffsample/lpc23xx/ffsystem.c
Exercise8-ffsample/lpc23xx/ffunicode.c
Exercise8-ffsample/lpc23xx/filer.c
Exercise8-ffsample/lpc23xx/filer.h
Exercise8-ffsample/lpc23xx/interrupt.c
Exercise8-ffsample/lpc23xx/interrupt.h
Exercise8-ffsample/lpc23xx/lpc_mm_na.png
Exercise8-ffsample/lpc23xx/LPC2300.h
Exercise8-ffsample/lpc23xx/LPC2388.ld
Exercise8-ffsample/lpc23xx/lpcsp.ini
Exercise8-ffsample/lpc23xx/main.c
Exercise8-ffsample/lpc23xx/Makefile
Exercise8-ffsample/lpc23xx/mmc_lpc23xx_mci.c
Exercise8-ffsample/lpc23xx/nand_ftl.c
Exercise8-ffsample/lpc23xx/rtc23xx.c
Exercise8-ffsample/lpc23xx/rtc23xx.h
Exercise8-ffsample/lpc23xx/sound.c
Exercise8-ffsample/lpc23xx/sound.h
Exercise8-ffsample/lpc23xx/tjpgd.c
Exercise8-ffsample/lpc23xx/tjpgd.h
Exercise8-ffsample/lpc23xx/tt.ini
Exercise8-ffsample/lpc23xx/uart23xx.c
Exercise8-ffsample/lpc23xx/uart23xx.h
Exercise8-ffsample/lpc23xx/xprintf.c
Exercise8-ffsample/lpc23xx/xprintf.h
Exercise8-ffsample/lpc23xx/rc/bigsight.bin
Exercise8-ffsample/lpc23xx/rc/FONT16S.FNT
Exercise8-ffsample/lpc23xx/rc/FONT24S.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLHN10.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLHN10X.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLHN11.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLHN12.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLHN12X.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLHN13.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLUSFX2.TXT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLZN10X.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLZN11X.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLZN12X.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/MPLZN13X.FNT
Exercise8-ffsample/lpc23xx/rc/mplfont/README_J.ORG
Exercise8-ffsample/lpc23xx/tools/avi2img.c
Exercise8-ffsample/lpc23xx/tools/avi2img.exe
Exercise8-ffsample/lpc23xx/tools/bmp2bin.c
Exercise8-ffsample/lpc23xx/tools/bmp2bin.exe
Exercise8-ffsample/lpc23xx/tools/mk.bat
Exercise8-ffsample/pic24/diskio.h
Exercise8-ffsample/pic24/ff.c
Exercise8-ffsample/pic24/ff.h
Exercise8-ffsample/pic24/ffconf.h
Exercise8-ffsample/pic24/ffunicode.c
Exercise8-ffsample/pic24/main.c
Exercise8-ffsample/pic24/Makefile
Exercise8-ffsample/pic24/mmc_pic24f.c
Exercise8-ffsample/pic24/pic_mmc.png
Exercise8-ffsample/pic24/pic24f.h
Exercise8-ffsample/pic24/pic24sp.ini
Exercise8-ffsample/pic24/picmmc.map
Exercise8-ffsample/pic24/picmmc.mcp
Exercise8-ffsample/pic24/picmmc.mcs
Exercise8-ffsample/pic24/picmmc.mcw
Exercise8-ffsample/pic24/tt.ini
Exercise8-ffsample/pic24/uart_pic24f.c
Exercise8-ffsample/pic24/uart_pic24f.h
Exercise8-ffsample/pic24/xprintf.c
Exercise8-ffsample/pic24/xprintf.h
Exercise8-ffsample/rx220/ff_rx220.Hbp
Exercise8-ffsample/rx220/ff_rx220.hws
Exercise8-ffsample/rx220/ff_rx220.tws
Exercise8-ffsample/rx220/rx220_mmc.png
Exercise8-ffsample/rx220/ff_rx220/dbsct.c
Exercise8-ffsample/rx220/ff_rx220/DefaultSession.hsf
Exercise8-ffsample/rx220/ff_rx220/diskio.h
Exercise8-ffsample/rx220/ff_rx220/ff_rx220.hwp
Exercise8-ffsample/rx220/ff_rx220/ff_rx220.nav
Exercise8-ffsample/rx220/ff_rx220/ff_rx220.tps
Exercise8-ffsample/rx220/ff_rx220/ff.c
Exercise8-ffsample/rx220/ff_rx220/ff.h
Exercise8-ffsample/rx220/ff_rx220/ffconf.h
Exercise8-ffsample/rx220/ff_rx220/ffunicode.c
Exercise8-ffsample/rx220/ff_rx220/intprg.c
Exercise8-ffsample/rx220/ff_rx220/iodefine.h
Exercise8-ffsample/rx220/ff_rx220/main.c
Exercise8-ffsample/rx220/ff_rx220/mmc_rspi.c
Exercise8-ffsample/rx220/ff_rx220/option.c
Exercise8-ffsample/rx220/ff_rx220/resetprg.c
Exercise8-ffsample/rx220/ff_rx220/sound.c
Exercise8-ffsample/rx220/ff_rx220/sound.h
Exercise8-ffsample/rx220/ff_rx220/stacksct.h
Exercise8-ffsample/rx220/ff_rx220/typedefine.h
Exercise8-ffsample/rx220/ff_rx220/uart_sci.c
Exercise8-ffsample/rx220/ff_rx220/uart_sci.h
Exercise8-ffsample/rx220/ff_rx220/vect.h
Exercise8-ffsample/rx220/ff_rx220/vecttbl.c
Exercise8-ffsample/rx220/ff_rx220/xprintf.c
Exercise8-ffsample/rx220/ff_rx220/xprintf.h
Exercise8-ffsample/rx62n/ff_rx62n.Hbp
Exercise8-ffsample/rx62n/ff_rx62n.hws
Exercise8-ffsample/rx62n/ff_rx62n.tws
Exercise8-ffsample/rx62n/ff_rx62n/dbsct.c
Exercise8-ffsample/rx62n/ff_rx62n/DefaultSession.hsf
Exercise8-ffsample/rx62n/ff_rx62n/diskio.h
Exercise8-ffsample/rx62n/ff_rx62n/ff_rx62n.hwp
Exercise8-ffsample/rx62n/ff_rx62n/ff_rx62n.nav
Exercise8-ffsample/rx62n/ff_rx62n/ff_rx62n.tps
Exercise8-ffsample/rx62n/ff_rx62n/ff.c
Exercise8-ffsample/rx62n/ff_rx62n/ff.h
Exercise8-ffsample/rx62n/ff_rx62n/ffconf.h
Exercise8-ffsample/rx62n/ff_rx62n/ffunicode.c
Exercise8-ffsample/rx62n/ff_rx62n/intprg.c
Exercise8-ffsample/rx62n/ff_rx62n/iodefine.h
Exercise8-ffsample/rx62n/ff_rx62n/main.c
Exercise8-ffsample/rx62n/ff_rx62n/mmc_rspi.c
Exercise8-ffsample/rx62n/ff_rx62n/resetprg.c
Exercise8-ffsample/rx62n/ff_rx62n/rtc_rx62n.c
Exercise8-ffsample/rx62n/ff_rx62n/rtc_rx62n.h
Exercise8-ffsample/rx62n/ff_rx62n/sound.c
Exercise8-ffsample/rx62n/ff_rx62n/sound.h
Exercise8-ffsample/rx62n/ff_rx62n/stacksct.h
Exercise8-ffsample/rx62n/ff_rx62n/typedefine.h
Exercise8-ffsample/rx62n/ff_rx62n/uart_sci.c
Exercise8-ffsample/rx62n/ff_rx62n/uart_sci.h
Exercise8-ffsample/rx62n/ff_rx62n/vect.h
Exercise8-ffsample/rx62n/ff_rx62n/vecttbl.c
Exercise8-ffsample/rx62n/ff_rx62n/xprintf.c
Exercise8-ffsample/rx62n/ff_rx62n/xprintf.h
Exercise8-ffsample/sh2/fftest.Hbp
Exercise8-ffsample/sh2/fftest.hws
Exercise8-ffsample/sh2/fftest.tws
Exercise8-ffsample/sh2/fftest/DefaultSession.hsf
Exercise8-ffsample/sh2/fftest/diskio.h
Exercise8-ffsample/sh2/fftest/ff.c
Exercise8-ffsample/sh2/fftest/ff.h
Exercise8-ffsample/sh2/fftest/ffconf.h
Exercise8-ffsample/sh2/fftest/fftest.hwp
Exercise8-ffsample/sh2/fftest/fftest.nav
Exercise8-ffsample/sh2/fftest/fftest.pgs
Exercise8-ffsample/sh2/fftest/fftest.tps
Exercise8-ffsample/sh2/fftest/ffunicode.c
Exercise8-ffsample/sh2/fftest/iodefine.h
Exercise8-ffsample/sh2/fftest/main.c
Exercise8-ffsample/sh2/fftest/mmc_rspi.c
Exercise8-ffsample/sh2/fftest/resetprg.c
Exercise8-ffsample/sh2/fftest/scif.c
Exercise8-ffsample/sh2/fftest/scif.h
Exercise8-ffsample/sh2/fftest/stacksct.h
Exercise8-ffsample/sh2/fftest/typedefine.h
Exercise8-ffsample/sh2/fftest/vect.h
Exercise8-ffsample/sh2/fftest/vecttbl.c
Exercise8-ffsample/sh2/fftest/xprintf.c
Exercise8-ffsample/sh2/fftest/xprintf.h
Exercise8-ffsample/stm32/diskio.h
Exercise8-ffsample/stm32/ff.c
Exercise8-ffsample/stm32/ff.h
Exercise8-ffsample/stm32/ffconf.h
Exercise8-ffsample/stm32/ffsystem.c
Exercise8-ffsample/stm32/ffunicode.c
Exercise8-ffsample/stm32/main.c
Exercise8-ffsample/stm32/Makefile
Exercise8-ffsample/stm32/mmc_stm32f1_spi.c
Exercise8-ffsample/stm32/rtc_stm32f1.c
Exercise8-ffsample/stm32/rtc_stm32f1.h
Exercise8-ffsample/stm32/startup_stm32f100.c
Exercise8-ffsample/stm32/stm32_mmc.png
Exercise8-ffsample/stm32/STM32F100.h
Exercise8-ffsample/stm32/STM32F100RBT6.ld
Exercise8-ffsample/stm32/stm32sp.ini
Exercise8-ffsample/stm32/tt.ini
Exercise8-ffsample/stm32/uart_stm32f1.c
Exercise8-ffsample/stm32/uart_stm32f1.h
Exercise8-ffsample/stm32/xprintf.c
Exercise8-ffsample/stm32/xprintf.h
Exercise8-ffsample/v850es/diskio.h
Exercise8-ffsample/v850es/ff_v850.cld
Exercise8-ffsample/v850es/ff_v850.dir
Exercise8-ffsample/v850es/ff_v850.fni
Exercise8-ffsample/v850es/ff_v850.mak
Exercise8-ffsample/v850es/ff_v850.prj
Exercise8-ffsample/v850es/ff_v850.prj.bak
Exercise8-ffsample/v850es/ff_v850.prk
Exercise8-ffsample/v850es/ff_v850.prw
Exercise8-ffsample/v850es/ff_v850.sdb
Exercise8-ffsample/v850es/ff.c
Exercise8-ffsample/v850es/ff.h
Exercise8-ffsample/v850es/ffconf.h
Exercise8-ffsample/v850es/ffunicode.c
Exercise8-ffsample/v850es/main.c
Exercise8-ffsample/v850es/mmc_v850es.c
Exercise8-ffsample/v850es/sp850es.ini
Exercise8-ffsample/v850es/startup.s
Exercise8-ffsample/v850es/tt.ini
Exercise8-ffsample/v850es/uart_v850es.c
Exercise8-ffsample/v850es/uart_v850es.h
Exercise8-ffsample/v850es/v850es.h
Exercise8-ffsample/v850es/v850test.png
Exercise8-ffsample/v850es/xprintf.c
Exercise8-ffsample/v850es/xprintf.h
Exercise8-ffsample/win32/diskio.c
Exercise8-ffsample/win32/diskio.h
Exercise8-ffsample/win32/ff.c
Exercise8-ffsample/win32/ff.h
Exercise8-ffsample/win32/ffconf.h
Exercise8-ffsample/win32/ffdev.sln
Exercise8-ffsample/win32/ffdev.suo
Exercise8-ffsample/win32/ffdev.vcproj
Exercise8-ffsample/win32/ffsystem.c
Exercise8-ffsample/win32/ffunicode.c
Exercise8-ffsample/win32/main.c
.vscode/settings.json
